<div id="quiz">
  <div *ngIf="mode=='quiz' && quiz">

    <div *ngFor="let question of filteredQuestions;">
      <div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>
      <div *ngIf="config.duration" class="badge badge-info float-right">Time: {{ellapsedTime}} / {{duration}}</div>
      <h3 class="font-weight-normal">{{pager.index + 1}}
        <span [innerHTML]="question.name"></span>
      </h3>

      <div class="form-check">
        <div class="col-6" *ngFor="let option of question.options">
          <div class="radio">
            <label class="font-weight-normal" [attr.for]="option.id">
              <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected"
                (change)="onSelect(question, option); isCorrect(question)" /> {{option.name}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">
      <button class="btn btn-sm btn-outline-secondary" (click)="goTo(pager.index - 1);">Previous</button>
      <button class="btn btn-sm btn-outline-secondary" (click)="goTo(pager.index + 1);">Next</button>
    </div>
  </div>

  <div class="result" *ngIf="mode=='result'">
    <ol>
      <h1>Leaderboard:</h1>
      <li *ngFor="let player of leaderboardData">
        Name: {{ player.payload.doc.data().name }},
        Correct Answers: {{ player.payload.doc.data().correctAnswers }},
        Total seconds: {{ player.payload.doc.data().totalSeconds }}
      </li>
    </ol>
  </div>
  <div *ngIf="mode!='result'" class="d-grid gap-2 d-md-block">
    <button type="button" class="btn-sm btn-success" (click)="onSubmit();">Finish</button>
  </div>
</div>