.card-img-top {
  max-width: 350px;
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form-floating {
  width: 200px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
